* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  font-family: 'Lato', sans-serif;
}

.game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.game-letters {
  list-style-type: none;
  margin: 10px auto;
  width: 1200px;
  text-align: center;
  font-size: 0;
}

.game-letter {
  width: 4rem;
  height: 4rem;
  margin: 0.3rem;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 2rem;
  color: #444;
  text-align: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ddd;
  background-color: #fff;
}

.game-letter:disabled {
  background: #eee;
  color: #ddd;
  text-shadow: none;
  cursor: default;
}

.game-letter:not(:disabled):hover {
  background: #f15c5c;
  color: #fff;
}

.game-sentence {
  width: 100%;
  text-align: center;
  border: 2px solid #f15c5c;
}

.game-sentence-box {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  width: 5rem;
  height: 5rem;
  color: #333;
  background-color: #fefefe;
  border: 1px solid #ddd;
  margin: 1rem 0.5rem 2rem;
  text-transform: uppercase;
  vertical-align: top;
}

.game-sentence-box-space {
  bottom: 0;
  background-color: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.game-attempts {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: #fff;
  color: #333;
  border: 1px solid #ddd;
}

button.button,
input[type='button'].button,
input[type='submit'].button {
  display: block;
  padding: 0.8em 3em;
  background: #f15c5c;
  color: #fff;
  border: 0;
  font-weight: bold;
  border-radius: 0.3rem;
  -webkit-transition: 0.5s background-color, 0.5s -webkit-box-shadow;
  transition: 0.5s background-color, 0.5s -webkit-box-shadow;
  transition: 0.5s background-color, 0.5s box-shadow;
  transition: 0.5s background-color, 0.5s box-shadow, 0.5s -webkit-box-shadow;
  cursor: pointer;
  font-size: 1rem;
  margin: 3rem auto 1rem;
}
/*# sourceMappingURL=style.css.map */